
body{
    background-color: rgba(13, 0, 255, 0.471);
}

input{
    padding: 8px;
}

button{
    background-color: rgb(57, 4, 246);
    color: white;
    cursor: pointer;
}

.error{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.exito{
    color: rgb(0, 255, 0);
    font-size: 20px;
    font-weight: bold;
}