body{
    font-size: 40px;
    text-align: center;
    background-color: blueviolet;
    color: white
}

input{
    font-size: 35px;
}

button{
    font-size: 35px;
}

ul{
    list-style-type: none;
}
